.maincont{
    height: 200px;
    width: 200px;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
}

.circle-and-box{
    height: 75px;
    width: 75px;
    border: 1px solid blue;
}
.circle{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid red;
    background-color: purple;
    position: relative;
}

.box{
    height: 50%;
    width: 50%;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    left: 24%;
    top: 27%;
}
.butons{
    margin-top:10px ;
}
.first-btn{
    margin-top: 20px;
}