.main-calculator-box{
    height:400px ;
    width: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 40%;
    background-color: lightgray;
} 
.calculator-heading{
    border: 1px solid red;
    width: 97%;
    height: 40px;
    background-color: black;
    color: white;
    margin: 9px 4px 6px 4px;
    text-align: center;
}
.calculator-heading h3 {
    margin-bottom: -6px;
}
.answer-box{
    width: 97%;
    height: 80px;
    border: 1px solid green;
    background-color: white;
    margin: 5px;    
}
.number-operator-and-sign{
    width: 97%;
    border: 1px solid purple;
    margin: 5px;
    height: 238px;
    display: flex;
    flex-direction: column;
}

.Num-and-sign-section{
    display: flex;
    flex-direction: row;
    width: 97%;
    height: 17%;
    margin: 5px;
    border: 1px solid purple;

}
.num-and-sign{
    height: 98%;
    width: 24%;
    border: 1px solid blue;
    margin-left: 2px;
    background-color: white;
    text-align: center;
}
.num-and-sign img{
    height: 100%;
    width: 100%;
}
.num-and-sign-0{
    background-color: white;
    width: 60%;
    height: 100%;
    text-align: center;

}
.num-and-sign-0 img{
    height: 100%;
    width: 100%;
}